@font-face{
  font-family: FullGizmo;
  src: url(../Font/FullGizmo-Regular.otf);
}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

*::selection {
  background: #ececec;
}
*::-moz-selection {
  background: #ececec;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;

  
}

absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #252525;
}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: -.03em;
  color: #252525;
}

.f3{
  font-weight: normal;
  color: #252525;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  line-height: 150%;
  color: #555555;
  letter-spacing: -0.2px;
}


.pt35 {
  padding-top: 35vh;
}

 .factbutton {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: -8px;
  padding: 4px 0px 6px 8px;
  color: #555555;
  cursor: pointer;
  text-align: left;
 }

.factbutton:hover {
  color: #252525;
  text-decoration: none;
  background-color: #ececec;
  border-radius: 8px;
  transition: all .15s ease-in-out;

}

.factbutton::-moz-selection { 
  background: transparent;
}

.factbutton::selection {
  background: transparent;
}

.shuffle-icon {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  padding-top: 2px;
  color: #555555;
  cursor: pointer;
  vertical-align: -3px;
  
}

.shuffle-icon::selection {
  background: transparent;
}

.article-wrapper {
  height:100px;

}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: underline;
}

p {
    max-width: 400px;
    line-height: 150%;
}

.f4 {
  color: #252525;
  font-weight: 100;

}

.links{
  margin-right: 16px;
}

.homepage_container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
    transition: all 0.2s ease-in-out 0s;
}



@media only screen and (max-width: 800px)  {
 
  .pt35 {
    padding-top: 200px;
  }

}


@media only screen and (max-height: 600px)  {
 
  .fact {
    margin-bottom: 40px;
  }
  /*.title-section{
    margin-top: 255px;
  }*/

  .pt35 {
    padding-top: 200px;
  }

}

@media only screen and (max-width: 500px)  {
 
  .pt35 {
    padding-top: 10rem;
  }

  .f2{
    font-size: 10vw;
  }

  .title-section{
    margin-bottom:60px;
  }

  .article-wrapper {
    padding-bottom: 20px;
  }

}
