@font-face{
  font-family: FullGizmo;
  src: url(../Font/FullGizmo-Regular.otf);
}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

.title-section{
  margin-top: 40%;
}

*::selection {
  background: #ececec;
}
*::-moz-selection {
  background: #ececec;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #252525;
}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  color: #252525;
  max-width: 480px;
}

.f3{
  font-weight: normal;
  color: #252525;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  line-height: 150%;
  color: #555555;
}


 .factbutton {
  font-family: RegolaBook;
  margin-left: -8px;
  padding: 4px 0px 6px 8px;
  color: #555555;
  cursor: pointer;
  text-align: left;
 }

.factbutton:hover {
  color: #252525;
  text-decoration: none;
  background-color: #ececec;
  border-radius: 8px;
  transition: all .15s ease-in-out;

}

.factbutton::-moz-selection { 
  background: transparent;
}

.factbutton::selection {
  background: transparent;
}

.shuffle-icon {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  padding-top: 2px;
  color: #555555;
  cursor: pointer;
  vertical-align: -3px;
  
}

.shuffle-icon::selection {
  background: transparent;
}

.article-wrapper {
  min-height: 30vh;

}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: underline;
}

p {
    max-width: 400px;
    line-height: 150%;
}

.f4 {
  color: #252525;
  font-weight: 100;

}

.links{
  margin-right: 16px;
}



@media only screen and (max-height: 600px)  {
 
  .fact {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 500px)  {
 
  .f2{
    font-size: 10vw;
  }

  .title-section{
    margin-top: 40%;
  }
}