@font-face{
  font-family: FullGizmo;
  src: url(../font/FullGizmo-Regular.otf);

}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

*::selection {
  background: #e8e8e8;
}
*::-moz-selection {
  background: #e8e8e8;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #252525;
}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  color: #252525;
  max-width: 480px;
}

.f3{
  font-weight: normal;
  color: #252525;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  line-height: 150%;
  color: #555555;
}


 .factbutton {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  padding-top: 2px;
  color: #555555;
  cursor: pointer;
  vertical-align: -3px;

 }

.factbutton:hover {
  color: #252525;

}

.article-wrapper {
  min-height: 500px;

}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: underline;
}

p {
    max-width: 400px;
    line-height: 150%;
}

.f4 {
  color: #252525;
  font-weight: 100;

}
.factbutton {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  cursor: pointer;

}

.links{
  margin-right: 16px;
}