@font-face{
  font-family: FullGizmo;
  src: url(../font/FullGizmo-Regular.otf);

}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

*::selection {
  background: #e8e8e8;
}
*::-moz-selection {
  background: #e8e8e8;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #252525;
}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  color: #252525;
}

.f3{
  font-weight: normal;
  color: #252525;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  line-height: 150%;
  color: #555555;
}

.blips {
  width:500px;
  height:500px;
  margin:0 auto;
  position:absolute;
  left:50%;
  top:50%;
  display:;
  margin-left:-250px;
  margin-top:-250px;
 }
 .blip {
   position: absolute;
   text-align: center;
   color: white;
   -webkit-animation-timing-function:linear;
   -moz-animation-timing-function:linear;
   animation-timing-function:linear;
 }
 .blip:nth-child(1) {
   width:400px;
   height:400px;
   margin-top:50px;
   margin-left:50px;
   /* border:1px solid black; */
   -webkit-animation: orbit 13s infinite linear;
   -moz-animation: orbit 13s infinite linear;
   animation: orbit 13s infinite linear;
 }
 .blip:nth-child(2){
     width:400px;
     height:400px;
     -webkit-animation: orbit 14s infinite linear;
     -moz-animation: orbit 14s infinite linear;
     animation: orbit 14s infinite linear;
 }
 .blip:nth-child(2){
     width:400px;
     height:400px;
     -webkit-animation: orbit 14s infinite linear;
     -moz-animation: orbit 14s infinite linear;
     animation: orbit 14s infinite linear;
 }
 .blip:nth-child(3){
     width:400px;
     height:300px;
     -webkit-animation: orbit_neg 14s infinite linear;
     -moz-animation: orbit_neg 14s infinite linear;
     animation: orbit_neg 14s infinite linear;
   
 }
 .blip:before {
   content:'';
   font-size:0px;
   border-radius:100%;
 }
 .blip:nth-child(1):before {
   padding:5px;
   background: #e97b7a;
 }
 .blip:nth-child(2):before {
   padding:5px;
   position:absolute;
   margin-top:100px;
   margin-left:120px;
   background: #e97b7a;
   
   -webkit-animation: blip_scale 15s infinite cubic-bezier(1.000, -0.400, 0.100, 1.210);
   -moz-animation: blip_scale 5s infinite cubic-bezier(1.000, -0.400, 0.100, 1.210);
   animation: blip_scale 5s infinite cubic-bezier(1.000, -0.400, 0.100, 1.210);
 }
 .blip:nth-child(3):before {
   padding:2px;
   position:absolute;
   border: 2px solid  #e97b7a;
   -webkit-animation: orbit_neg 14s infinite linear;
   -moz-animation: orbit_neg 14s infinite linear;
   animation: orbit_neg 14s infinite linear;
 }
 .blip:nth-child(4):before {
   padding:4px;
   position:absolute;
   margin-top:370px;
   margin-left:340px;
   background: #e97b7a;
   -webkit-animation-delay: 9s; /* Chrome, Safari, Opera */
   animation-delay: 9s;
   -webkit-animation: blip_fade 13s infinite;
   -moz-animation: blip_fade 13s infinite;
   animation: blip_fade 13s infinite;
 }
 
 /* Mozila + Chrome */
 @keyframes blip_scale {
   0% {transform: scale(.6);}
   100% {transform: scale(.1);}}
 @keyframes blip_fade { 0% {opacity:1; }  100% {opacity:.1; }}
 @keyframes orbit {
     0%   {transform: rotate(0deg);}
     100% {transform: rotate(360deg);}}
 @keyframes orbit_neg {
     0%   {transform: rotate(0deg);}
     100% {transform: rotate(-360deg);}
 }
 /* Safari */
 @-webkit-keyframes blip_scale {
   0% {-webkit-transform: scale(.6);}
   100% {-webkit-transform: scale(.1);}}
 @-webkit-keyframes blip_fade { 0% {opacity:1; } 100% {opacity:.1; }}
 @-webkit-keyframes orbit {
      0%   {-webkit-transform: rotate(0deg);}
     100% {-webkit-transform: rotate(360deg);} }
 @-webkit-keyframes orbit_neg {
     0%   {-webkit-transform: rotate(0deg);}
     100% {-webkit-transform: rotate(-360deg);}
 }
 
 
 
 
 .blobs {
  width:280px;
  height:280px;
  margin:0 auto;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-150px;
  border-radius:100%;
  -webkit-animation: myturn linear 16s infinite;
  -moz-animation: myturn linear 16s infinite;
 }
 .blob {
   position: absolute;
   background: #e97b7a;
   text-align: center;
   color: white;
 }
 
 .blob:nth-child(1) {
   top: -10px;
   left: -10px;
   width: 250px;
   height: 260px;
   border-radius: 100%;
   display:;
   -webkit-animation: mytopdown linear 3s infinite;
   -moz-animation: mytopdown linear 3s infinite;
   animation: mytopdown linear 3s infinite;
 }
 .blob:nth-child(2) {
   top: -10px;
   left: -10px;
   width: 250px;
   height: 250px;
   border-radius: 100%;
   display:;
   -webkit-animation: mydowntop linear 3s infinite;
   -moz-animation: mydowntop linear 3s infinite;
   animation: mydowntop linear 3s infinite;
 }
 .blob:nth-child(3) {
   top: 10px;
   left: -10px;
    width: 250px;
   height: 250px;
   border-radius: 100%;
   display:;
   -webkit-animation: mytopleft linear 5s infinite;
   -moz-animation: mytopleft linear 5s infinite;
   animation: mytopleft linear 5s infinite;
 }
 .blob:nth-child(4) {
   top: -10px;
   left: 10px;
   border-radius: 45%;
   width: 240px;
   height: 250px;
   display:;
   -webkit-animation: mydownright linear 3s infinite;
   -moz-animation: mydownright linear 3s infinite;
   animation: mydownright linear 3s infinite;
 }
 .blob:nth-child(5) {
   top: -10px;
   left: -10px;
    width: 240px;
   height: 250px;
   border-radius: 42%;
   display:;
   -webkit-animation: mytopright linear 4s infinite;
   -moz-animation: mytopright linear 4s infinite;
   animation: mytopright linear 4s infinite;
 }
 .blob:nth-child(6) {
   top: -10px;
   left: -10px;
    width: 240px;
   height: 250px;
   border-radius: 47%;
   -webkit-animation: mydownleft linear 4s infinite;
   -moz-animation: mydownleft linear 4s infinite;
   animation: mydownleft linear 4s infinite;
 }
 
 /* Mozila + Chrome */
 @keyframes mytopdown {
     0%   {top: 0px; transform: rotate(0deg) scale(1);}
     50%  {top: 10px;  transform: rotate(180deg) scale(1.04);}
     100% {top: 0px; transform: rotate(360deg) scale(1);}
 }
 @keyframes mydowntop {
     0%   {top: 0px;  transform: rotate(0deg);}
     50%  {top: -10px;  transform: rotate(-180deg);}
     100% {top: 0px;  transform: rotate(-360deg);}
 }
 @keyframes mytopleft {
     0%   {left: 0px;top:0px; transform: rotate(0deg);}
     50%  {left: 15px; top:5px; transform: rotate(180deg);}
     100% {left: 0px; top:0px; transform: rotate(360deg);}
 }
 @keyframes mydownright {
     0%   {left: 0px;top:0px; transform: rotate(0deg);}
     50%  {left: -10px; top:-5px; transform: rotate(180deg);}
     100% {left: 0px; top:0px; transform: rotate(360deg);}
 }
 @keyframes mytopright {
     0%   {left: 0px;top:0px; transform: rotate(0deg);}
     50%  {left: -10px; top:5px; transform: rotate(180deg);}
     100% {left: 0px; top:0px; transform: rotate(360deg);}
 }
 @keyframes mydownleft {
     0%   {left: 0px;top:0px; transform: rotate(0deg);}
     50%  {left: 10px; top:10px; transform: rotate(-180deg);}
     100% {left: 0px; top:0px; transform: rotate(-360deg);}
 }
 @keyframes myturn {
     0%   {transform: rotate(0deg) skewX(0deg);}
     100% {transform: rotate(-360deg) skewX(0deg);}
 }
 
 /* Safari */
 @-webkit-keyframes mytopdown {
     0%   {top: 0px;-webkit-transform: rotate(0deg) scale(1);}
     50%  {top: 10px; -webkit-transform: rotate(180deg) scale(1.04);}
     100% {top: 0px;-webkit-transform: rotate(360deg) scale(1);}
 }
 @-webkit-keyframes mydowntop {
     0%   {top: 0px; -webkit-transform: rotate(0deg);}
     50%  {top: -10px; -webkit-transform: rotate(-180deg);}
     100% {top: 0px; -webkit-transform: rotate(-360deg);}
 }
 @-webkit-keyframes mytopleft {
     0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
     50%  {left: 15px; top:5px;-webkit-transform: rotate(180deg);}
     100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
 }
 @-webkit-keyframes mydownright {
     0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
     50%  {left: -10px; top:-5px;-webkit-transform: rotate(180deg);}
     100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
 }
 @-webkit-keyframes mytopright {
     0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
     50%  {left: -10px; top:5px;-webkit-transform: rotate(180deg);}
     100% {left: 0px; top:0px;-webkit-transform: rotate(360deg);}
 }
 @-webkit-keyframes mydownleft {
     0%   {left: 0px;top:0px;-webkit-transform: rotate(0deg);}
     50%  {left: 10px; top:10px;-webkit-transform: rotate(-180deg);}
     100% {left: 0px; top:0px;-webkit-transform: rotate(-360deg);}
 }
 @-webkit-keyframes myturn {
     0%   {-webkit-transform: rotate(0deg) skewX(0deg);}
     100% {-webkit-transform: rotate(-360deg) skewX(0deg);}
 }
  
 .factbutton {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  padding-top: 2px;
  color: #555555;
  cursor: pointer;
  vertical-align: -3px;

 }

.factbutton:hover {
  color: #252525;

}

.article-wrapper {
  min-height: 500px;

}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: underline;
}

p {
    max-width: 400px;
    line-height: 150%;
}

.f4 {
  color: #252525;
  font-weight: 100;

}
