@font-face{
  font-family: FullGizmo;
  src: url(../Font/FullGizmo-Regular.otf);
}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}

:root, [data-theme="default"] {
  --bg-lightest: #F7F7F7;
  --bg-light: #EDEDED;
  --bg-mid: #E2E2E2;
  --bg-dark: #DBDBDB;
  --bg-darkest: #D1D1D1;

  --font-high-contrast: #252525;
  --font-mid-contrast: #555555;
  --font-low-contrast: #767676;
  --font-inactive: #cecece;
}

@supports(--css: variables) {
  [data-theme="dark"] {

    --bg-lightest: #333333;
    --bg-light: #2B2B2B;
    --bg-mid: #242424;
    --bg-dark: #1E1E1E;
    --bg-darkest: #181818;

    --font-high-contrast: #FFFFFF;
    --font-mid-contrast: #D1D1D1;
    --font-low-contrast: #555555;
    --font-inactive: #3f3f3f;

  }



body {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  background-color: var(--bg-lightest);
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

*::selection {
  background: #ececec;
}
*::-moz-selection {
  background: #ececec;
}

.circle {
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFD048;
  transition: .3s ease-out;

 }

.circle:hover {
  transform: scale(1.15); }

.circle::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  bottom: 18px;
  background-color: #FFF;
  transform: translate(-10px, 10px); 
  transition: .3s ease-out; }
  /* match the body */ }

.circle::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -4px;
  border-radius: 50%; }


.section-2 {
  background-color: var(--bg-light);
  min-height: 600px;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;

  
}

.b-- {
  color: var(--font-inactive);

}

#hero {
  height:90vh; min-height: 700px;
}
absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--font-high-contrast);
  letter-spacing: -.03em;

}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: -.03em;
  color: var(--font-high-contrast);
}

.f3{
  font-weight: normal;
  color: var(--font-high-contrast);
}


.f3 .strong{
  font-family: RegolaRegular;
}

.f4{
  font-weight: normal;
  color: var(--font-high-contrast);
}

.f5{
  font-weight: normal;
  color: var(--font-high-contrast);
}

.f6{
  font-weight: normal;
  color: var(--font-high-contrast);
}


p{
  line-height: 150%;
  color: var(--font-mid-contrast);
  letter-spacing: -0.1px;
}

.pt30 {
  padding-top: 30vh;
}

.themebutton {
  color: var(--font-high-contrast);
  vertical-align: center;
  text-decoration: none;
  border-radius: 100px;
  transition: all .15s ease-in-out;
  padding: 10px 10px 6px 10px;
  cursor: pointer;
}

.themebutton:hover {
  background-color: var(--bg-light);
  text-decoration: none;
  cursor: pointer;

}

 .factbutton {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: -8px;
  padding: 4px 0px 6px 8px;
  color: var(--font-high-contrast);
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  transition: all .15s ease-in-out;

 }

.factbutton:hover {
  color: var(--font-high-contrast);
  text-decoration: none;
  background-color: var(--bg-light);
  border-radius: 10px;
  transition: all .15s ease-in-out;

}

.factbutton::-moz-selection { 
  background: transparent;
}

.factbutton::selection {
  background: transparent;
}

.questions {
  border-radius: 100px;
  background-color: #2A2A2A;
}

.questions:hover {
  border-radius: 100px;
  background-color: #4a4a4a;

}

.icon {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  color: var(--font-mid-contrast);
  cursor: pointer;
  vertical-align: -3px;
}

.icon:hover {
  text-decoration: none;
  size: 105%;
}

.icon::selection {
  background: transparent;
  text-decoration: none;
}

.shuffle-icon2 {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  color: var(--font-mid-contrast);
  cursor: pointer;
  padding: 12px 12px 8px 12px;
}

.shuffle-icon2:focus {
  transform: scale(0.7);
  transition: all 200ms;
}

.shuffle-icon2::selection {
  background: transparent;
}

.article-wrapper {
  height:100px;
}

a {
  color: var(--font-high-contrast);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dim:hover {
  text-decoration: none;

}

p {
    line-height: 150%;
}

.f4 {
  color: var(--font-high-contrast);
  font-weight: 100;

}

.links{
  margin-right: 16px;
}

/*.homepage_container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
    transition: all 0.2s ease-in-out 0s;
}
*/


.accordion .item .input {
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  cursor: url(/images/COMING_SOON.ico) 8 8, auto !important;
}

.accordion .item .item-name {
  width: 100%;
  text-align: left;
  border: none;
  display: block;
}

.accordion .item .desc {
  margin: 0px;
  opacity: 0;
  max-height: 0px;
  font-size: 15px;
  transition: all 400ms ease-in-out 0s;
}

/*  .accordion .item .input {

}*/



.accordion .item .item-name:hover ~ .desc, .accordion .item .desc:hover {
  opacity: 1;
  max-height: 500px;
  transition: all 600ms ease-in-out 0s;
}
.accordion .item:hover > .item-name {
  border-bottom: transparent;
  text-decoration: none;
}
.accordion .item:last-child > .item-name, .accordion .item:last-child > .desc {
  border-bottom: transparent;
  
}

.acordion:hover {
  cursor: url(/images/COMING_SOON.ico) !important;

}

@media only screen and (max-width: 960px)  {
 
  .pt35 {
    padding-top: 200px;
  }
  
  #hero {
    height:auto;
  }

  
  .accordion .item .desc {
  transition: all 400ms ease-in-out 0s;
  opacity: 1;
  max-height: 500px;
  visibility: visible;
}
}





@media only screen and (max-height: 600px)  {
 
  .fact {
    margin-bottom: 40px;
  }
  /*.title-section{
    margin-top: 255px;
  }*/
}

@media only screen and (max-width: 500px)  {

/*
.pt35 {
    padding-top: 10rem;
  }
  
  .f2{
    font-size: 10vw;
  }*/

  .title-section{
    margin-bottom:60px;
  }

  .article-wrapper {
    padding-bottom: 20px;
  }

}
