@font-face{
  font-family: FullGizmo;
  src: url(../Font/FullGizmo-Regular.otf);
}

@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  transition: all 0.2s ease-in-out 0s;
}

*::selection {
  background: #ececec;
}
*::-moz-selection {
  background: #ececec;
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out 0s;

  
}



#hero {
  height:90vh; min-height: 700px;
}
absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f1 {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #252525;
  letter-spacing: -.03em;

}

.f2{
  font-weight: normal;
  font-size: 2.5em;
  letter-spacing: -.03em;
  color: #252525;
}

.f3{
  font-weight: normal;
  color: #252525;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  line-height: 150%;
  color: #555555;
  letter-spacing: -0.1px;
}


.pt35 {
  padding-top: 35vh;
}

 .factbutton {
  font-family: RegolaBook,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: -8px;
  padding: 4px 0px 6px 8px;
  color: #555555;
  cursor: pointer;
  text-align: left;
 }

.factbutton:hover {
  color: #252525;
  text-decoration: none;
  background-color: #ececec;
  border-radius: 10px;
  transition: all .15s ease-in-out;

}

.factbutton::-moz-selection { 
  background: transparent;
}

.factbutton::selection {
  background: transparent;
}

.questions {
  border-radius: 100px;
  background-color: #2A2A2A;
}

.questions:hover {
  border-radius: 100px;
  background-color: #4a4a4a;

}

.shuffle-icon {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  padding-top: 2px;
  color: #555555;
  cursor: pointer;
  vertical-align: -3px;
  
}

.shuffle-icon::selection {
  background: transparent;
}

.shuffle-icon2 {
  font-family: 'FullGizmo', sans-serif;
  text-decoration: none;
  margin: 8px;
  color: #555555;
  cursor: pointer;
  padding: 12px 12px 8px 12px;
}

.shuffle-icon2:focus {
  transform: scale(0.7);
  transition: all 200ms;
}

.shuffle-icon2::selection {
  background: transparent;
}

.article-wrapper {
  height:100px;
}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #252525;
  text-decoration: underline;
}

p {
    line-height: 150%;
}

.f4 {
  color: #252525;
  font-weight: 100;

}

.links{
  margin-right: 16px;
}

/*.homepage_container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
    transition: all 0.2s ease-in-out 0s;
}
*/


.accordion .item .input {
  position: absolute;
  visibility: hidden;
  display: block;
  width: 100%;
  height: 100%;
  cursor: url(/images/COMING_SOON.ico) 8 8, auto !important;
}

.accordion .item .item-name {
  width: 100%;
  text-align: left;
  border: none;
  display: block;
}

.accordion .item .desc {
  margin: 0px;
  opacity: 0;
  max-height: 0px;
  font-size: 15px;
  transition: all 400ms ease-in-out 0s;

}

.accordion .item .item-name:hover ~ .desc, .accordion .item .desc:hover {
  opacity: 1;
  max-height: 500px;
  transition: all 600ms ease-in-out 0s;
}
.accordion .item:hover > .item-name {
  border-bottom: transparent;
  text-decoration: none;
}
.accordion .item:last-child > .item-name, .accordion .item:last-child > .desc {
  border-bottom: transparent;
  
}

.acordion:hover {
  cursor: url(/images/COMING_SOON.ico) !important;

}

@media only screen and (max-width: 800px)  {
 
  .pt35 {
    padding-top: 200px;
  }
  
  #hero {
    height:auto;
  }

}


@media only screen and (max-height: 600px)  {
 
  .fact {
    margin-bottom: 40px;
  }
  /*.title-section{
    margin-top: 255px;
  }*/


}

@media only screen and (max-width: 500px)  {

/*
.pt35 {
    padding-top: 10rem;
  }
  
  .f2{
    font-size: 10vw;
  }*/

  .title-section{
    margin-bottom:60px;
  }

  .article-wrapper {
    padding-bottom: 20px;
  }

  #hero {
    height: 700px;
  }

}
