@font-face {
  font-family: 'FullGizmo';
  src: url('../Font/FullGizmo-Regular.otf');

}/* BTTNS */



/*FONTS */

body {
-webkit-font-smoothing: antialiased;
font-size: 16px}
h1 {
  font-family: Muli, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  clear: none;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.h1.white {
  color: #fff;
  font-weight: 600;
}

.h1.light {
  float: left;
  opacity: .7;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}


.h1.arrow {
  float: right;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.h1.aboutme {
  max-width: 380px;
}

p {
  margin-bottom: 10px;
  font-family: Muli, sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 16px;
  line-height:24px;
}

a {
  font-family: Muli, sans-serif;
  color: #767676;
  text-decoration: none;
}

.factbutton {
    font-family: 'FullGizmo', sans-serif;
    text-decoration: none;
    margin: 8px;
    padding-top: 2px;
    color: #767676;
    cursor: pointer;
    vertical-align: -3px;
}

.factbutton:hover {
    color: #333;
    cursor: pointer;
}



a.SequoiaCap {
    color: #ff91d3;
    -webkit-transition: all 200ms ease-in-out;
    text-decoration: underline;

}

a.SequoiaCap:hover {
    color: #fff;
}

.link999{
    color: #333;
    text-decoration: underline;
}
.link999:hover{
    color: #999;
    text-decoration: underline;
    -webkit-transition: all 200ms ease-in-out;
    text-decoration: underline;
}

.logo {
  margin-top: 12px;
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 28px;
  font-weight: 300;
}

.logo:hover {
  border-bottom: 1px solid #000;
}

/*STYLE */

.body {
  display: block;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.content-row {
  min-height: 100%;
  margin-top: 70px;
  background-color: #fff;
}

.column-left {
  overflow: scroll;
  padding-left: 0px;
}

.column-right {
  padding-right: 0px;
  padding-left: 20px;
  background-color: #fff;
}

.professionalblock {
  max-height: 640px;
  height: 87vh;
  padding: 3rem 2rem;
  background-color: #dfdfdf;
}

.professionalblock.nubank {
  padding: 3rem 2rem;
  background-color: #8d22ad;
  background-image: url('../images/device-card.png'), -webkit-linear-gradient(270deg, #8d22ad, #8425a0);
  background-image: url('../images/device-card.png'), linear-gradient(180deg, #8d22ad, #8425a0);
  background-position: 90% 75%, 0px 0px;
  background-size: 480px, auto;
  background-repeat: no-repeat, repeat;
}

.professionalblock.timtim {
  background-color: #f7f7f7;
}

.professionalblock.previousprojects {
  background-color: #6295cc;
  background-image: -webkit-linear-gradient(270deg, #6295cc, #568bc3);
  background-image: linear-gradient(180deg, #6295cc, #568bc3);
}


.h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.h5.white {
  color: #fff;
}

.h5.stayintouch {
  padding-bottom: 8px;
  padding-left: 2rem;
}

.h5.intro {
  display: none;
  margin-bottom: -16px;
    text-decoration:none;
}

.aboutblock {
  min-height: 85vh;
  padding: 48px 24px;
}

.aboutblock.lightpink {
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 41.7%;
  min-height: 100vh;
  padding: 3rem 2rem;
  background-color: #fff2fa;
}

.image-10 {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  float: right;
  border: 1px none #fff;
  background-image: url('../images/device-card.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image.horizontal {
  position: relative;
  top: 95px;
  right: -14px;
  width: 330px;
  height: 220px;
  float: right;
}

.image.horizontal._2 {
  top: 3px;
  width: 220px;
  height: 330px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.image.curvy {
  height: 100%;
  border-color: #d3d3d3;
  border-radius: 50%;
  background-image: url('../images/timtim_illustration01.png');
  background-repeat: none;
}

.pink {
  color: #ff91d3;
}

.pink.fade {
  opacity: 0;
}

.simplelink {
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-weight: 300;
  text-decoration: none;
  color:#ffffff;
}

.simplelink:hover {
  margin-left: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom: 1px solid hsla(0, 0%, 100%, .31);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-weight: 300;
  text-decoration: none;
}

.simplelink._999 {
  border-bottom-color: rgba(51, 51, 51, 0);
  color: #333;
}

.simplelink._999:hover {
  border-bottom-color: rgba(51, 51, 51, .31);
}

.navbar-3 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: visible;
  height: 70px;
  max-width: 1440px;
  padding-left: 2rem;
  background-color: #fff;
    margin:auto;
}

.brand-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.expandable {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  max-width: 100%;
  padding-top: 16px;
  padding-right: 2rem;
  padding-left: 2rem;
  float: left;
  background-color: #ffb9e3;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.expandable:hover {
  height: 70px;
  padding-top: 22px;
}

.expandable._2 {
  background-color: #ffa1d9;
  text-decoration: none;
}

.expandable._3 {
  margin-bottom: 0px;
  background-color: #ff90d2;
}

.arrow {
  margin-top: 0px;
  float: right;
  opacity: 0.7;
  font-size: 18px;
  color:#fff;
}

.div-links {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 70px;
}

.glyph {
  font-weight: 300;
}

.light-blue {
  color: #cce1f1;
}

.extra {
  max-width: 300px;
  margin-top: 4px;
  color: #8f8f8f;
}

.newsblock {
  margin-top: 24px;
}

.div-block-4 {
  width: 300px;
  height: 300px;
  float: right;
  -webkit-font-smoothing: antialiased;
  color: #767767;
  
}

html.w-mod-js *[data-ix="loadup-1"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="loadup-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="loadup-2b"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="loadup-2c"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="loadup-2d"] {
  opacity: 0;
  -webkit-transform: translate(0px, 55px);
  -ms-transform: translate(0px, 55px);
  transform: translate(0px, 55px);
}

html.w-mod-js *[data-ix="new-interaction"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

html.w-mod-js *[data-ix="major-links"] {
  opacity: 0;
  -webkit-transform: translate(0px, 30px) scale(1, 0.01);
  -ms-transform: translate(0px, 30px) scale(1, 0.01);
  transform: translate(0px, 30px) scale(1, 0.01);
}

html.w-mod-js *[data-ix="aboutblock"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px) scale(1.02, 1.02);
  -ms-transform: translate(-100px, 0px) scale(1.02, 1.02);
  transform: translate(-100px, 0px) scale(1.02, 1.02);
}

html.w-mod-js *[data-ix="professionalblock"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px) scale(1.02, 1.02);
  -ms-transform: translate(100px, 0px) scale(1.02, 1.02);
  transform: translate(100px, 0px) scale(1.02, 1.02);
}

html.w-mod-js *[data-ix="new-interaction-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 43vh);
  -ms-transform: translate(0px, 43vh);
  transform: translate(0px, 43vh);
}

@media (max-width: 991px) {
  .heading-6 {
    margin-left: 0px;
  }
  .navbar {
    background-color: #fff;
  }
  .brand {
    text-shadow: 1px 1px 26px rgba(0, 0, 0, .17);
  }
  .nav-link {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    overflow: scroll;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    float: none;
    background-color: #ffa061;
  }
  .menu-button.w--open {
    background-color: hsla(0, 0%, 100%, .15);
  }
  .paragraph._2-column.white {
    clear: left;
  }
  .highlightsection {
    padding-left: 0px;
  }
  .heading {
    width: 95vw;
    max-width: 800px;
  }
  .heading.white {
    max-width: 400px;
    float: left;
  }
  .row {
    width: 95vw;
    max-width: 800px;
  }
  .basesection.models {
    background-image: -webkit-linear-gradient(270deg, #000024 30%, transparent 45%), url('../images/camper_models.png');
    background-image: linear-gradient(180deg, #000024 30%, transparent 45%), url('../images/camper_models.png');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, 1250px;
  }
  .brand-2 {
    margin-left: 20px;
  }
  .nav-menu {
    margin-right: 0px;
  }
  .homehero {
    min-height: 400px;
  }
  .cardbase.camino {
    width: 100%;
    min-height: 300px;
    background-position: 0px 0px, 41% 50%;
  }
  .cardbase.rico {
    width: 100%;
    min-height: 300px;
  }
  .cardbase.pombo {
    width: 100%;
    min-height: 300px;
  }
  .cardbase.timtimportimtim {
    width: 100%;
    min-height: 300px;
  }
  .cardtitle {
    margin-bottom: 3px;
  }
  .column-3 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .column-4 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .column-5 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .column-6 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .professionalblock.nubank {
    padding-bottom: 1rem;
    background-position: 53% 89%, 0px 0px;
    background-size: 400px, auto;
  }
  .image {
    margin-top: 44px;
    padding-top: 8px;
    padding-left: 8px;
  }
  .image.horizontal {
    top: -138px;
    right: 17px;
    margin-top: -32px;
  }
  .image.horizontal._2 {
    top: 84px;
  }
  .image.curvy {
    width: 110%;
    height:130%;
    margin-top: 0px;
    border-color: #d3d3d3;
    border-radius: 50%;
    background-image: url('../images/timtim_illustration01.png');

  }
  .pink.fade {
    opacity: 0;
  }
  .menu-button-3 {
    position: static;
  }
  .div-block-4 {
    width: 200px;
    height: 200px;
    float: right;
  }
}

@media (max-width: 767px) {
  .navbar {
    z-index: 1;
    max-height: 80vh;
    min-height: 65px;
    padding-top: 0px;
  }
  .containerprojecttitle {
    bottom: 170px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .projecttitle {
    font-size: 4em;
    text-align: center;
  }
  .heading-1 {
    text-align: center;
  }
  .heading-1.description {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .section-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .paragraph {
    display: block;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .paragraph.description {
    max-width: 500px;
    padding-right: 16px;
    padding-left: 16px;
    float: left;
    text-align: center;
  }
  .paragraph._2-column {
    -webkit-column-count: 1;
    column-count: 1;
  }
  .projectdata {
    text-align: center;
  }
  .image-8 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
  .paragraph-2.white {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
  }
  .highlightsection {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading.white {
    max-width: 700px;
    float: none;
    text-align: center;
  }
  .column {
    padding-left: 0px;
  }
  .basesection {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .basesection.models {
    min-height: 700px;
    padding-top: 48px;
    background-position: 0px 0px, 50% 50%;
  }
  .nav-link-2 {
    text-align: center;
  }
  .logo {
    position: fixed;
    display: block;
    margin-top: -4px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
  }
  .brand-2 {
    margin-top: 6px;
    margin-left: 0px;
  }
    
    .w-inline-block {
        text-decoration: none;
    }
    
    
  .nav-menu {
    position: static;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99999999;
    width: 100%;
    margin-top: 65px;
    float: none;
  }
  .containerhome {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-8 {
    max-width: 350px;
  }
  .cardbase {
    width: 100%;
    min-height: 250px;
  }
  .cardbase.camino {
    width: 100%;
    min-height: 250px;
  }
  .cardbase.rico {
    min-height: 250px;
    background-position: 0px 0px, 50% 50%;
  }
  .cardbase.pombo {
    min-height: 250px;
    background-size: auto, 130px;
  }
  .cardbase.timtimportimtim {
    min-height: 250px;
  }
  .column-3 {
    margin-bottom: 10px;
    padding-right: 8px;
    padding-left: 0px;
  }
  .column-4 {
    margin-bottom: 10px;
    padding-right: 0px;
    padding-left: 8px;
  }
  .column-5 {
    margin-bottom: 10px;
    padding-right: 8px;
    padding-left: 0px;
  }
  .column-6 {
    padding-right: 0px;
    padding-left: 8px;
  }
  .menu-button-2 {
    z-index: 9;
    margin-top: 6px;
  }
  .menu-button-2.w--open {
    margin-top: 0px;
    padding-top: 23px;
    background-color: #fff;
  }
  .icon {
    color: #222;
  }
  .paragraph-3 {
    max-width: 500px;
  }
  .paragraph-3.small {
    max-width: 500px;
  }
  .italic-text {
    max-width: 500px;
  }
  .column-8 {
    padding-left: 0px;
  }
  .column-9 {
    position: static;
    padding-left: 0px;
  }
  .column-left {
    position: static;
    overflow: visible;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .column-right {
    padding-left: 0px;
  }
  .h1.white {
    font-size: 38px;
    line-height: 44px;
  }
  .h1.light {
    opacity: 1;
  }
  .h5.intro {
    margin-bottom: 0px;
  }
  .aboutblock.lightpink {
    position: static;
    overflow: visible;
    width: 100vw;
    max-width: 100vw;
    min-height: auto;
    padding-bottom: 0rem;
  }
  .image.horizontal {
    top: -168px;
    right: 18px;
  }
  .image.horizontal._2 {
    top: -12px;
  }
  .image.curvy {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/timtim_illustration01.png');

  }
  .pink {
    max-width: 450px;
    font-size: 16px;
    line-height: 24px;
  }
  .simplelink {
    font-size: 16px;
    line-height: 24px;
  }
  .navbar-3 {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .div-links {
    position: static;
    width: 100vw;
    margin-bottom: 0px;
    margin-left: -2rem;
  }
  .light-blue {
    max-width: 450px;
    font-size: 16px;
    line-height: 24px;
  }
  .extra {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #333;
}
  }
  .newsblock {
    margin-bottom: 42px;
  }
  .paragraph-4 {
    max-width: 450px;
    font-size: 16px;
    line-height: 24px;

  }
  .div-block-4 {
    width: 200px;
    height: 200px;
  }
    .professionalblock.nubank {
    height: auto;
    min-height: 680px;
    background-size: 350px, auto;
  }
}

@media (max-width: 479px) {
  .heading-6 {
    position: static;
    display: block;
    overflow: visible;
    padding-left: 8px;
    clear: none;
    line-height: 1em;
    text-align: left;
  }
  .projecttitle {
    font-size: 3em;
  }
  .heading-1.description {
    line-height: 1.1em;
  }
  .paragraph.description {
    font-size: 1.3em;
  }
  .paragraph.white {
    margin-top: 20px;
  }
  .image-8 {
    margin-bottom: 20px;
  }
  .paragraph-2.white {
    color: hsla(0, 0%, 100%, .9);
    font-size: 1.3em;
  }
  .heading.white {
    margin-bottom: 10px;
    line-height: 1.1em;
  }
  .basesection.models {
    min-height: 650px;
    background-color: #000024;
    background-image: -webkit-linear-gradient(270deg, #000024 52%, transparent 78%), url('../images/camper_models.png');
    background-image: linear-gradient(180deg, #000024 52%, transparent 78%), url('../images/camper_models.png');
    background-position: 0px 0px, 50% 100%;
    background-size: auto, 150%;
    background-repeat: repeat, no-repeat;
  }
  .logo {
    text-align: center;
  }
  .homehero {
    height: 98vh;
    padding-right: 10px;
    padding-left: 10px;
  }
  .containerhome {
    position: absolute;
  }
  .contentsection {
    padding-top: 18px;
    padding-bottom: 14px;
  }
  .cardbase.pombo {
    background-size: auto, 115px;
  }
  .cardtitle {
    margin-bottom: 13px;
    line-height: 1.4em;
  }
  .professionalblock.nubank {
    height: auto;
    min-height: 780px;
    background-size: 350px, auto;
  }
  .professionalblock.timtim {
    height: auto;
  }
  .professionalblock.previousprojects {
    min-height: 40vh;
  }
  .image {
    width: 160px;
    height: 280px;
  }
  .image.horizontal {
    width: 280px;
    height: 160px;
  }
  .image.curvy {
    width: 200px;
    height: 200px;
    background-image: url('../images/timtim_illustration01.png');

      
  }
  .simplelink._999 {
    color: #999;
  }
  .light-blue {
    color: #c2def3;
  }
  .div-block-4 {
    height: auto;
  }
}

