@font-face {
  font-family: RegolaRegular;
  src: url(../font/RegolaProTrial-Regular.otf);
}

@font-face {
  font-family: RegolaBook;
  src: url(../font/RegolaProTrial-Book.otf);
}
body {
  font-family: RegolaBook;
  font-weight: normal;
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased; 
  
}

.wrapper {
  max-width: 440px;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.f2{
  font-weight: normal;
}

.f3{
  font-weight: normal;
}

.f3 .strong{
  font-family: RegolaRegular;
}

p{
  color: #555;
  line-height: 1.41em;
}