@font-face {
  font-family: RegolaBook;
  src: url(/static/Regola-Pro-Book-c7604af377f7248656751bb2dca59324.otf);
}
@font-face {
  font-family: RegolaRegular;
  src: url(/static/Regola-Pro-Regular-051ac2bb52ac1253770dd90820cd5aa4.otf);
}
@font-face {
  font-family: RegolaMedium;
  src: url(/static/Regola-Pro-Medium-47594d43cbf701809e8dd70a384704f5.otf);
}
@font-face {
  font-family: RegolaBold;
  src: url(/static/Regola-Pro-Bold-2c2028f2cddd4e497ffa520220c9bff7.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root,
[data-theme="default"] {
  --bg-lightest: #fff;
  --bg-light: #f4f4f4;
  --bg-mid: #e2e2e2;
  --bg-dark: #dbdbdb;
  --bg-darkest: #d1d1d1;
  --bg-frosted: #ffffffe8;
  --font-high-contrast: #000000ed;
  --font-mid-contrast: #000000ad;
  --font-low-contrast: #0000004f;
  --font-inactive: #cecece;
  --accent: #ffeb82;
  --primary: #2f80ed;
  --primary-bg: #2f80ed12;
  --bg-code: #dcf5ff;
  --code: #ffe2f1;
  --u1: 8px;
  --u2: calc(var(--u1) * 2);
  --u3: calc(var(--u1) * 3);
  --u4: calc(var(--u1) * 4);
  --u5: calc(var(--u1) * 5);
  --u6: calc(var(--u1) * 6);
}
[data-theme="dark"] {
  --bg-lightest: #333;
  --bg-light: #2b2b2b;
  --bg-mid: #242424;
  --bg-dark: #1e1e1e;
  --bg-darkest: #181818;
  --bg-frosted: #323232de;
  --font-high-contrast: #fffffff7;
  --font-mid-contrast: #ffffffb8;
  --font-low-contrast: #ffffff4d;
  --font-inactive: #3f3f3f;
  --accent: #15cfbe;
  --primary: #ff9090;
  --primary-bg: #ff909012;
  --bg-code: #00877b;
  --code: #fff;
}
html {
  font-family: RegolaBook;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bg-lightest);
}
body,
html {
  text-align: center;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease-in-out 0s;
}
::selection {
  background: var(--accent);
  color: var(--font-high-contrast);
}
::-moz-selection {
  background: var(--accent);
}
aside,
details,
figcaption,
figure,
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--bg-frosted);
  -webkit-backdrop-filter: saturate(180%) blur(16px);
  backdrop-filter: saturate(180%) blur(16px);
}
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: var(--font-high-contrast);
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: all 0.25s;
  cursor: pointer;
}
a:active,
a:hover,
p a {
  text-decoration: underline;
}
a:active,
a:hover {
  outline-width: 0;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  transition: all 0.25s;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: 'Cousine', monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.button {
  color: var(--primary);
  background-color: var(--primary-bg);
  padding: 8px 12px;
  border-radius: 8px;
  border: 0;
}
.button,
.button:hover {
  transition: all 0.25s;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(47, 128, 237, 0.11);
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}
.button:focus {
  outline: 1px dotted #2f80ed;
  border-radius: 8px;
}
.tag {
  background-color: var(--bg-frosted);
  padding: 4px;
  border-radius: 2px;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  color: var(--font-high-contrast);
  font-family: RegolaBook, georgia, serif;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
  /* filter: contrast(1.1) grayscale(100);
  -webkit-filter: contrast(1.1) grayscale(100); */
}
img,
img:hover {
  transition: all 0.5s;
}
img:hover {
  filter: none;
  -webkit-filter: none;
}
h1 {
  color: var(--font-high-contrast);
  font-family: RegolaBook, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  line-height: 1.25;
  
}
h1,
h2 {
  color: var(--font-high-contrast);
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.025em;
  text-align: left;
}
h2 {
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1.62671rem;
  line-height: 1.15;
}
h3 {
  margin: 0.5rem 0;
  -webkit-margin-after: 0.5em;
  margin-block-end: 0.5em;
  -webkit-margin-before: 2em;
  margin-block-start: 2em;
  color: inherit;
  font-size: 1.38316rem;
  line-height: 1.25;
  letter-spacing: -0.025em;
  color: var(--font-high-contrast);
}
h3,
h4 {
  padding: 0;
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: left;
}
h4 {
  margin: 0 0 1.45rem;
  color: inherit;
  font-size: 1.1rem;
  line-height: 1.45;
  letter-spacing: -0.02em;
}
h5 {
  margin: 0;
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.85028rem;
  font-size: 0.875rem;
  line-height: 1.45;
  color: var(--font-mid-contrast);
}
h5,
h6 {
  padding: 0;
  color: inherit;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: left;
}
h6 {
  margin: 0 0 1.45rem;
  font-family: RegolaBold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.78405rem;
  line-height: 1.25;
}
article {
  max-width: 36rem;
  text-align: left;
  margin-bottom: 3.45rem;
  padding: 0 1.0875rem 1.45rem;
}
blog-post-container {
  color: var(--font-high-contrast);
  padding-left: 6em;
  font-size: 48px;
}
hgroup {
  padding: 0;
  margin: 0 0 1.45rem;
}
ol,
ul {
  padding: 0;
  margin: 0 0 1.45rem 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dd,
dl,
p {
  padding: 0;
  margin: 0 0 1.45rem;
}
p {
  line-height: 1.6667;
  letter-spacing: -0.015rem;
  text-align: left;
  font-size: 1.1rem;
  color: var(--font-mid-contrast)
}
.footnote-ref {
  color: var(--primary);
  text-decoration: none;
  font-feature-settings: "tnum";
}
.bold {
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
article {
  padding: 0 6px;
}
img .horizontal {
  min-height: 39.9vw;
}
img .vertical {
  min-height: 57.4vw;
}
figure {
  padding: 0;
}
figure,
pre {
  margin: 0 0 1.45rem;
}
pre {
  font-size: 0.85rem;
  line-height: 1.42;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
  background-color: var(--bg-light);
  border-radius: 3px;
  font-family: 'Cousine', SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: 500;
  text-align: left;
  /* border: 1px solid rgba(0, 0, 0, 0.029); */
}
table {
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset,
table {
  padding: 0;
  margin: 0 0 1.45rem;
}
blockquote {
  padding: 1.25rem 1.45rem;
  margin: 0 0 1.45rem;
  border: 1px solid var(--bg-mid);
  border-radius: 8px;
  font-family: RegolaRegular;
  color: var(--font-high-contrast);
}
form,
iframe,
noscript {
  padding: 0;
  margin: 0 0 1.45rem;
}
hr {
  padding: 0;
  margin: calc(2.45rem - 1px) 0;
  background: var(--font-low-contrast);
  border: none;
  height: 1px;
}
address {
  padding: 0;
  margin: 0 0 1.45rem;
}
b {
  font-weight: 700;
}
strong {
  font-family: RegolaMedium, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}
dt {
  font-weight: 700;
}
th {
  font-family: RegolaBook;
  color: var(--font-high-contrast);
}
li {
  margin-bottom: 0.725rem;
  text-align: left;
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-left: 1.45rem;
  margin-bottom: 0.725rem;
  margin-top: 0.725rem;
}
blockquote :last-child,
li :last-child,
p :last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: 0.725rem;
  display: contents;
}
code,
kbd,
samp {
  font-size: 0.95rem;
  line-height: 1.45rem;
}
abbr,
abbr[title],
acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}
abbr[title] {
  text-decoration: none;
}
td,
th,
thead {
  text-align: left;
}
td,
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding: 0.725rem 0.96667rem calc(0.725rem - 1px);
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
code,
tt {
  background-color: var(--bg-code);
  background-color: var(--bg-light);
  border-radius: 3px;
  font-family: 'Cousine', SFMono-Regular, Roboto Mono, Droid Sans Mono, Liberation Mono,
    Menlo, Courier, monospace;
  padding: 0.25rem 2px;
  margin: 1.45rem 0.25rem;
  font-weight: 500;
  color: var(--font-high-contrast);
}
pre code {
  background: none;
  line-height: 1.42;
}
code:after,
code:before,
tt:after,
tt:before {
  letter-spacing: -0.2em;
  content: "";
}
pre code:after,
pre code:before,
pre tt:after,
pre tt:before {
  content: "";
}
/* @media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
