@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

@font-face {
  font-family: RegolaBook;
  src: url('../typography/Regola-Pro-Book.otf');
  font-display: swap;
}
@font-face {
  font-family: RegolaRegular;
  src: url('../typography/Regola-Pro-Regular.otf');
  font-display: swap;
}

@font-face {
  font-family: RegolaMedium;
  src: url('../typography/Regola-Pro-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: RegolaBold;
  src: url('../typography/Regola-Pro-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: JetRegular;
  src: url('../typography/JetBrains/JetBrainsMono-Regular.woff');
  font-display: swap;
}

body {
  --bg-lightest: #fff;
  --bg-light: #f4f4f5;
  --bg-mid: #d8dbde;
  --bg-dark: #535557;
  --bg-darkest: #3d3f41;
  --bg-frosted: hsla(0, 0%, 100%, 0.91);
  --font-high-contrast: rgba(0, 0, 0, 0.93);
  --font-mid-contrast: rgba(0, 0, 0, 0.68);
  --font-low-contrast: rgba(0, 0, 0, 0.31);
  --font-inactive: #cecece;
  --accent: #ffeb82;
  --pastel-pink: #ffe4ee;
  --pastel-coral: #ffcec6;
  --pastel-orange: #ffbe8f;
  --pastel-yellow: #ffeb82;
  --pastel-green: #56e88b;
  --pastel-teal: #84f5ea;
  --pastel-blue: #cde3ff;
  --pastel-purple: #ffa7f8;
  --accent-blue: #2f80ed;
  --accent-green: #6add75;
  --accent-green-forest:#50c17b;
  --accent-orange: #f6a730;
  --accent-purple: #a241cf;
  --accent-teal: #bbc4e3;
  --accent-coral: #ff5f55;
  --accent-pink: #ff5e9c;

  --primary: #2f80ed;
  --primary-bg: rgba(47, 128, 237, 0.07);
  --primary-bg-hover: rgba(47, 128, 237, 0.11);
  --bg-code: #dcf5ff;
  --code: #ffe2f1;
  --u1: 8px;
  --u2: calc(var(--u1) * 2);
  --u3: calc(var(--u1) * 3);
  --u4: calc(var(--u1) * 4);
  --u5: calc(var(--u1) * 5);
  --u6: calc(var(--u1) * 6);
  --body-width: 34rem;
  background-color: var(--bg-lightest);
  background-color: "{post.frontmatter.color}";
  --font-mono: 'JetRegular','IBM Plex Mono', SFMono-Regular, Consolas, Roboto Mono,
  Droid Sans Mono, Liberation Mono, Menlo, Courier, monospace;
  --align: -webkit-center;
}
body.dark {
  --bg-lightest: #1a1d21;
  --bg-light:#14171a;
  --bg-mid: #101315;
  --bg-dark: #0d0f10;
  --bg-darkest: #0a0c0c;
  --bg-frosted: #1a1d21de;
  --font-high-contrast: hsla(0, 0%, 100%, 0.97);
  --font-mid-contrast: hsla(0, 0%, 100%, 0.72);
  --font-low-contrast: hsla(0, 0%, 100%, 0.3);
  --font-inactive: hsla(0, 0%, 100%, 0.151);
  --accent: #5f9ea0;
  --accent-pink: #ff6299;
  --accent-coral: #ff6262;
  --primary: #ffa561;
  --primary-bg: #292725;
  --primary-bg-hover: #2e2c29;
  --accent-orange: #f6a730;
  --accent-yellow: #ffeb82;
  --accent-green: #53eb8b;
  --accent-green-forest:#43ab6b;
  --accent-teal: #14e1e4;
  --accent-blue: #4e9bff;
  --accent-purple: #bd33f4;
  --primary: var(--accent-coral);
  --primary-bg: rgba(255, 96, 85, 0.09);
  --primary-bg-hover: rgba(255, 96, 85, 0.13);
  --code: #fff;
  background-color: #1a1d21;
}
html {
  font-family: RegolaBook;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease-in-out 0s;
  padding: 0;
}
::selection {
  background: var(--accent);
  color: var(--font-high-contrast);
}
::-moz-selection {
  background: var(--accent);
}
aside,
details,
figcaption,
figure,
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--bg-frosted);
  -webkit-backdrop-filter: saturate(180%) blur(16px);
  backdrop-filter: saturate(180%) blur(16px);
}
main,
menu,
nav,
section,
summary {
  display: block;
  text-align: -webkit-left;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
video {
  max-width: 100%;
  background-color: var(--bg-light);
  border-radius: 4px;
}
video:focus {
  outline: none;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  color: var(--font-high-contrast);
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: all 0.25s;
  cursor: pointer;
}
a:active,
a:hover,
p a {
  text-decoration: underline;
}
a:active,
a:hover {
  outline-width: 0;
  opacity: 0.5;
  -webkit-opacity: 0.5;
  transition: all 0.25s;
}
.thumbnail-wrapper,
.thumbnail-wrapper:hover {
  opacity: 1;
  -webkit-opacity: 1;
  transition: all 0.25s;
}
.thumbnail-wrapper:hover {
  text-decoration: none !important;
}
.thumbnail-wrapper:hover > h4 {
  text-decoration: underline;
  transition: all 0.25s;
}
.thumbnail-wrapper:hover > h4:after {
  content: " \2197";
}
.inactive-wrapper {
  cursor: progress;
}
.inactive-wrapper,
.inactive-wrapper:hover {
  opacity: 0.3;
  -webkit-opacity: 0.3;
  text-decoration: none;
}
.inactive-wrapper p:hover {
  text-decoration: none;
}
/* .inactive-wrapper ::before{
  content: 'Soon';
  margin: 8px;
  padding: 2px;
  border-radius: 4px;
  background: var(--bg-mid);
  color: var(--font-low-contrast);
  font-weight: 100;
} */
.thumbnail {
  background-color: var(--bg-light);
  z-index: 999999;
  width: 255px;
  height: 370px;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 100%;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.thumbnail-image {
  max-width: 160px;
  position: relative;
  z-index: 9;
  margin: auto;
  top: 120px;
}
.thumbnail-list {
  max-width: 100%;
  text-align: center;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
b,
em,
strong {
  color: var(--font-high-contrast);
}
em {
  font-style: normal;
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  border-radius: 3px;
  padding: 2px 4px;
  -webkit-text-decoration: underline solid var(bg-mid);
  text-decoration: underline solid var(bg-mid);
}
em.dark {
  background-color: var(--accent-pink);
  color: #00f;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  background-color: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  /* font-size: 1.055rem; */
  font-weight: 400;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
.theme-switcher {
  position: relative;
  width: 48px;
  height: 30px;
  box-sizing: content-box;
  margin-left: 8px;
}
.theme-switcher-input {
  -webkit-appearance: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  outline: 0;
  margin: 0 0 0 16px;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
.switcher-ui:before {
  content: "";
  background-color: var(--font-inactive);
  border-radius: 1rem;
  width: 48px;
  height: 30px;
  display: block;
}
.switcher-ui:after {
  content: "";
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--font-low-contrast);
  border-radius: 9999px;
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x))
    translateY(var(--transform-translate-y)) rotate(var(--transform-rotate))
    skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y))
    scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, visibility;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  top: 50%;
  left: 4px;
  --transform-translate-y: -50%;
  transition: all 0.25s;
  cursor: pointer;
}
.switcher-ui:hover:after {
  margin-left: 4px;
  transition: all 0.25s;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.button {
  color: var(--primary);
  background-color: var(--primary-bg);
  padding: 8px 12px;
  border-radius: 8px;
  border: 0;
}
.button,
.button:hover {
  transition: all 0.25s;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(47, 128, 237, 0.11);
  background-color: var(--primary-bg-hover);
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}
.button:focus {
  outline: 1px dotted var(--primary);
  border-radius: 8px;
}
.circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: none;
  display: flex;
  padding: 12px;
  margin-left: 8px;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}
.circle,
.circle:hover {
  transition: all 0.25s;
  opacity: 1;
}
.circle:hover {
  background-color: rgba(47, 128, 237, 0.11);
  -webkit-filter: saturate(1);
  filter: saturate(1);
}
.twitter {
  color: var(--font-inactive);
}
.twitter,
.twitter:hover {
  fill: #1da1f2;
  transition: all 0.25s;
}
.logo {
  background-color: var(--font-inactive);
}
.tag {
  background-color: var(--bg-frosted);
  padding: 4px;
  border-radius: 4px;
}
html {
  font: 112.5%/1.45em sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  color: var(--font-high-contrast);
  font-family: RegolaBook, georgia, serif;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.gatsby-resp-image-image {
  background-color: var(--bg-light);
}
img {
  width: 40rem;
  max-width: 100%;
  padding: 0;
  margin: 0 0 1.45rem;
  border-radius: 4px;
}
img,
img:hover {
  transition: all 0.5s;
}
img:hover {
  filter: none;
  -webkit-filter: none;
}
h1 {
  color: var(--font-high-contrast);
  font-family: RegolaBook, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.25rem;
  line-height: 1.25;
}
h1,
h2 {
  color: var(--font-high-contrast);
  padding: 0;
  margin: 0 0 1.45rem;
  color: inherit;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.015em;
  text-align: left;
}
h2 {
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 1.62671rem;
  line-height: 1.15;
}
h3 {
  margin: 0.5rem 0;
  -webkit-margin-after: 0.5em;
  margin-block-end: 0.5em;
  -webkit-margin-before: 2em;
  margin-block-start: 2em;
  color: inherit;
  font-size: 1.38316rem;
  line-height: 1.25;
  letter-spacing: -0.015em;
  color: var(--font-high-contrast);
}
table h3 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}
h3,
h4 {
  padding: 0;
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: left;
}
h4 {
  margin: 0 0 0.5em;
  color: inherit;
  font-size: 1.055rem;
  letter-spacing: -0.014em;
  color: var(--font-high-contrast);
}
h4,
h5 {
  line-height: 1.45;
}
h5 {
  margin: 0;
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 0.85028rem;
  font-size: 0.875rem;
  color: var(--font-mid-contrast);
}
.blog-post-content h5 {
  margin-bottom: 2.45rem;
  text-align: center;
}
h5,
h6 {
  padding: 0;
  color: inherit;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: left;
}

h6 {
  margin: 0 0 1.45rem;
  font-family: RegolaBold, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.78405rem;
  line-height: 1.25;
}

.label {
font-family: var(--font-mono);
font-size: .75rem;
color: var(--font-high-contrast);
background: var(--bg-light);
border-radius: 4px;
padding: 4px;
width: fit-content;
margin-right: 8px;
}

article {
  max-width: var(--body-width);
  text-align: left;
  margin-bottom: 3.45rem;
  padding: 0 1.0875rem 1.45rem;
}
blog-post-container {
  color: var(--font-high-contrast);
  padding-left: 6em;
  font-size: 48px;
}
.blog-post-content div,
.blog-post-content h1,
.blog-post-content h2,
.blog-post-content h3,
.blog-post-content h4,
.blog-post-content h5,
.blog-post-content hr,
.blog-post-content ol,
.blog-post-content p,
.blog-post-content ul {
  max-width: var(--body-width);
  margin-left: auto;
  margin-right: auto;
}
.blog-post-content blockquote,
.blog-post-content pre {
  max-width: 40rem;
  margin: 0 auto 1.45rem;
}
.blog-post-content table {
  max-width: 40rem;
  margin: 0 auto 1.45rem;
}
.blog-post-content img,
.blog-post-content table {
  margin-bottom: 1.45rem;
}
.gatsby-resp-image-wrapper {
  max-width: 100%;
}
hgroup {
  padding: 0;
  margin: 0 0 1.45rem;
}
ol,
ul {
  padding: 0;
  margin: 0 0 1.45rem 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dd,
dl,
p {
  padding: 0;
  margin: 0 0 1.45rem;
}
p {
  line-height: 1.6667;
  letter-spacing: -0.01rem;
  text-align: left;
  font-size: 1.055rem;
}
p,
table p,
td,
ul {
  color: var(--font-mid-contrast);
}
figcaption p {
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 0.875rem;
  line-height: 1.45;
  color: var(--font-mid-contrast);
  padding: 0;
  margin: 0.875rem 0 0;
  color: inherit;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  text-align: center;
}
.footnote-backref,
.footnote-ref {
  color: var(--primary);
  text-decoration: none;
  font-feature-settings: "tnum";
}
.bold {
  font-family: RegolaRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}
article {
  padding: 0 6px;
}
img .horizontal {
  min-height: 39.9vw;
}
img .vertical {
  min-height: 57.4vw;
}
figure {
  padding: 0;
}
figure,
pre {
  margin: 3.45rem 0;
}
pre {
  font-size: 0.85rem;
  line-height: 1.42;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem 1rem;
  background-color: var(--bg-light);
  border-radius: 4px;
  font-family: var(--font-mono);
  font-weight: 400;
  text-align: left;
  max-width: 40rem;
}
table {
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
table img {
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  background-color: var(--bg-light);
  margin-bottom: 1em;
}
fieldset,
table {
  padding: 0;
  margin: 0 0 1.45rem;
}
blockquote {
  padding: 2rem 1.45rem;
  margin: 0 0 1.45rem;
  border: 1px solid var(--font-inactive);
  border-radius: 8px;
  font-family: RegolaRegular;
  color: var(--font-high-contrast);
}
form,
iframe,
noscript {
  padding: 0;
  margin: 0 0 1.45rem;
}
hr {
  padding: 0;
  margin: calc(2.45rem - 1px) 0;
  background: var(--font-low-contrast);
  border: none;
  height: 1px;
}
.border {
  border: 1px solid var(--font-inactive);
}
.palette {
  background-color: var(--bg-light);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-bottom: 0.75rem;
}
address {
  padding: 0;
  margin: 0 0 1.45rem;
}
b {
  font-weight: 700;
}
strong {
  font-family: RegolaMedium, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}
.mono {
  font-family: var(--font-mono);
}
dt {
  font-weight: 700;
}
li {
  margin-bottom: 0.725rem;
  line-height: 1.6667;
  letter-spacing: -0.01rem;
  text-align: left;
  font-size: 1.055rem;
}
li h4 {
  margin-bottom: 0.15em;
}
ol {
  padding-left: 2em;
  line-height: 1.45;
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-left: 1.45rem;
  margin-bottom: 0.725rem;
  margin-top: 0.725rem;
}
blockquote :last-child,
li :last-child,
p :last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: 0.725rem;
  display: contents;
}
code,
kbd,
samp {
  font-size: 0.98rem;
  line-height: 1.45rem;
}
abbr,
abbr[title],
acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
}
abbr[title] {
  text-decoration: none;
}
td,
th,
thead {
  text-align: left;
  vertical-align: baseline;
}
td,
th {
  padding: 0.725rem 0.725rem calc(0.725rem - 1px);
  font-family: RegolaBook, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.055rem;
  font-weight: 400;
  vertical-align: top;
  min-width: 25%;
  max-width: 50%;
  text-align: left;
}
th {
  font-family: RegolaRegular;
  color: var(--font-high-contrast);
  border-radius: 3px;
}
td:first-child,
th:first-child {
  padding: 0.725rem 0.725rem calc(0.725rem - 1px) 0;
  min-width: 25%;
  width: 50%;
}
td:last-child,
th:last-child {
  padding: 0.725rem 0 calc(0.725rem - 1px) 0.725rem;
  min-width: 25%;
  max-width: 50%;
}
code,
tt {
  background-color: var(--bg-light);
  border-radius: 4px;
  font-family: var(--font-mono);
  padding: 0.25rem 2px;
  margin: 1.45rem 0.25rem;
  font-weight: 400;
  color: var(--font-high-contrast);
}
pre code {
  background: none;
  line-height: 1.42;
}
code:after,
code:before,
tt:after,
tt:before {
  letter-spacing: -0.2em;
  content: "";
}
pre code:after,
pre code:before,
pre tt:after,
pre tt:before {
  content: "";
}
